.info-item-meine-aufgaben {
  padding: 20px;
  border-radius: 8px;
  width: 30%; 
  box-sizing: border-box; 
  box-shadow: 0 10px 20px black; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  
}

.profile-card-meine-aufgaben {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Name {
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.aufgabenliste {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: 300px;
  background-color: pink;
  margin-bottom: 2%;
  max-height: 300px;
  overflow-y: auto;
}

.Aufgabenlist{
  margin-bottom: 10px;
}

.actions-meine-aufgaben {
  background-color: gainsboro;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.actions-meine-aufgaben a {
  font-size: 14px;
  text-decoration: none;
  color: #007BFF;
}